:root {
	// colors
	--gray: #787676;
	--light-gray: #939191;
	--ultralight-gray: #d8d7d7;
	--bg-gray: #F2F2F2;
	--bg-gray2: #E2E6E9;
	--white: #fff;
	--light-black: #232536;
	--black: #1e1b1b;
	--orange: #ff6433;
	--green: #61c3a1;
	--green2: #5cba99;
	--purple: #661CE7;

	// sizes
	--container-width: 1280px;
	--container-gap: 15px;
	--header-height: 88px;

	// fonts
	--main-font: "Manrope", sans-serif;
}

@function rem($px) {
	@return calc(($px / 16) * 1rem);
}

@function lh($line-height, $font-size) {
	@return calc(($line-height / $font-size) * 100%);
}

// EXTENDS
%reset {
	margin: 0;
	padding: 0;
}

%flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%btn-reset {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	font: inherit;
}

%img-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}